// variables

@import "bootstrap/variables";

$black: #333333;
$white: #ffffff;
$grey: #111111;
$gray: $grey; // alternate spelling
$red: #ff0000;
$green: #00ff00;

$uop-purple: #470a68; // from the branding document

$brand-primary: $uop-purple;
// $brand-secondary: #3b3c3c;
$brand-success: #5cb85c;
$brand-info: #5B75DE;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
