// Logo
//
// Logos and different variations
//
// Markup: logo.html
//
// .logo-white - White variant
// .logo-black - Black variant
// .logo-square - Colour square variant
// .logo-square-white - White square variant
// .logo-square-black - Black square variant
//
// Styleguide: logo

.logo {
  background-position: 40% center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-image: url("/images/logo/uop-logo.png"); // fallback to png
  background-image: url("/images/logo/uop-logo.svg"), none;
}

.logo-white {
  background-image: url("/images/logo/uop-logo-white.png"); // fallback to png
  background-image: url("/images/logo/uop-logo-white.svg"), none;
}

.logo-black {
  background-image: url("/images/logo/uop-logo-black.png"); // fallback to png
  background-image: url("/images/logo/uop-logo-black.svg"), none;
}

.logo-square {
  background-image: url("/images/logo/uop-square-logo.png"); // fallback to png
  background-image: url("/images/logo/uop-square-logo.svg"), none;
}

.logo-square-white {
  background-image: url("/images/logo/uop-square-logo-white.png"); // fallback to png
  background-image: url("/images/logo/uop-square-logo-white.svg"), none;
}

.logo-square-black {
  background-image: url("/images/logo/uop-square-logo-black.png"); // fallback to png
  background-image: url("/images/logo/uop-square-logo-black.svg"), none;
}