// Buttons
//
// Your standard button suitable for clicking.
//
// Markup: buttons.html
//
// :disabled - Dims the button when disabled.
// .btn-primary  - Indicates button is the primary action.
// .btn-secondary  - Indicates button is the secondary action.
// .btn-success  - Indicates button is the success action.
// .btn-info  - Indicates button is the info.
// .btn-warning  - Indicates button is the info.
// .btn-danger  - Indicates button is the info.
//
// Styleguide: buttons

@import "bootstrap/buttons";

.btn {
  border: 0;
  text-decoration: none;

  &:disabled {
    cursor: no-drop;
  }

  &.btn-primary {
    background-color: $brand-primary;

    &:hover {
      background-color: darken($brand-primary, 7.5%);
    }

    &:active {
      background-color: darken($brand-primary, 12%);
    }
  }

  &.btn-secondary {
    background-color: inherit;
    border: solid 2px $brand-primary;
    color: $brand-primary;
    padding: 4px 10px;

    &:hover {
      background-color: $brand-primary;
      color: $white;
    }

    &:active {
      background-color: darken($brand-primary, 7.5%);
      color: $white;
    }
  }
}
