// Buttons
//
// Your standard button suitable for clicking.
//
// Markup: buttons.html
//
// :disabled - Dims the button when disabled.
// .btn-primary  - Indicates button is the primary action.
// .btn-secondary  - Indicates button is the secondayr action.
// .btn-success  - Indicates button is the success action.
// .btn-info  - Indicates button is the info.
// .btn-warning  - Indicates button is the info.
// .btn-danger  - Indicates button is the info.
//
// Styleguide: buttons

@import "bootstrap/buttons";

.btn {
  border: 0;

  &:disabled {
    cursor: no-drop;
  }

  &.btn-primary {
    background-color: $brand-primary;

    &:hover {
      background-color: darken($brand-primary, 7.5%);
    }

    &:active {
      background-color: darken($brand-primary, 12%);
    }
  }

  &.btn-secondary{
    background-color: $brand-secondary;
    color: #fff;

    &:hover {
      background-color: darken($brand-secondary, 7.5%);
    }

    &:active {
      background-color: darken($brand-secondary, 12%);
    }
  }
}
