// Navigation Bar
//
// Navigation bar
//
// Markup: nav.html
//
// Styleguide: navigation bar

@import "bootstrap/forms";
@import "bootstrap/navbar";

.navbar {
  background-color: $brand-secondary;
  border: 0;
  margin-bottom: 0;

  .navbar-brand {
    width: 200px;

    &:hover {
      opacity: .8;
    }
  }

  .container-fluid > .navbar-header {
    margin: 0;
  }

  @media (min-width: 768px) {
    > .container-fluid .navbar-brand {
      margin-left: 0;
    }
  }
}
