// Navigation Bar
//
// Navigation bar
//
// Markup: nav.html
//
// Styleguide: navigation bar

@import "bootstrap/forms";
@import "bootstrap/navbar";
@import "bootstrap/button-groups";
@import "bootstrap/dropdowns";
@import "bootstrap/navs";

.navbar {
  background-color: $brand-primary;
  border: 0;
  margin-bottom: 0;
  border-radius: 0;

  .navbar-brand {
    width: 180px;
    height: 72px;

    &:hover {
      background-color: $brand-secondary;
    }

    @media (min-width: $screen-md-min) {
      width: 230px;
    }
  }

  .navbar-toggle {
    color: $white;
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background: darken($brand-primary, 5%);
  }

  .navbar-collapse {
    border: 0;
    box-shadow: none;
  }

  .navbar-nav > li > a {
    color: $white;
    text-decoration: none;
    line-height: 52px;

    &:hover,
    &:focus {
      color: $white;
      background-color: $brand-secondary;
    }

    @media (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
      padding-right: 10px;
      padding-left: 10px;

      font-size: .9em;
    }
  }

  .navbar-nav > .dropdown.open > a {
    background-color: $brand-secondary;
    color: $white;
  }

  .dropdown-menu {
    background-color: $brand-primary;

    > li > a {
      color: $white;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: $brand-secondary;
        color: $white;
      }
    }
  }

  @media (min-width: 768px) {
    > .container-fluid .navbar-brand {
      margin-left: 0;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $white;

    &:hover,
    &:focus {
      color: $white;
    }
  }
}
