<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand logo logo-white" href="http://www.port.ac.uk"></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">UP605662@myport.ac.uk <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Sign out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>