<nav class="navbar navbar-default" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#uop-navbar" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      Menu
    </button>
    <a class="navbar-brand logo logo-white" href="http://www.port.ac.uk"></a>
  </div>
  <div class="collapse navbar-collapse" id="uop-navbar">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">My Details</a></li>
      <li><a href="#">My Course</a></li>
      <li><a href="#">My Timetable</a></li>
      <li><a href="#">My Assessments</a></li>
      <li class="visible-xs"><a href="#">Sign out (UP605662)</a></li>
      <li class="dropdown hidden-xs">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">UP605662 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li role="separator" class="divider visible-sm visible-md"></li>
          <li><a href="#">Sign out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>
