// Button
//
// Your standard button suitable for clicking.
//
// Markup: button.html
//
// :hover    - Highlights when hovering.
// :disabled - Dims the button when disabled.
// .primary  - Indicates button is the primary action.
// .success  - Indicates button is the success action.
// .fail     - Indicates button is the fail action.
// .smaller  - A little bit smaller now.
//
// Styleguide: button

.button {
  padding: 1em;

  border: 0;
  border-radius: 0;

  &.primary {
    color: $white;

    background: $uop-purple;
  }

  &.success {
    color: $white;

    background: $green;
  }

  &.fail {
    color: $white;

    background: $red;
  }

  &.smaller {
    font-size: .85em;
  }

  &:hover {
    cursor: pointer;
    opacity: .95;
  }

  &:disabled {
    color: $grey;
  }
}
