<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="#" class="logo logo-white"></a>
                <p>&copy; University of Portsmouth 2016</p>
            </div>
            <div class="col-md-6 accessibility">
                <div class="size-container pull-right">
                    <a href="#" class="btn btn-secondary large">A</a>
                    <a href="#" class="btn btn-secondary small">A</a>
                </div>
                <div class="clearfix"></div>
                <a href="#" class="btn btn-secondary pull-right">High Contrast</a>
            </div>
        </div>
    </div>
</footer>