<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a href="#" class="logo logo-white"></a>
        <p class="copyright">&copy; University of Portsmouth 2017</p>
      </div>
      <div class="col-md-6">
        <div class="btn-group links" role="group">
          <a href="http://www.facebook.com/universityofportsmouth" class="btn link link--twitter">
            <span class="link-icon"></span>
            Twitter
          </a>
          <a href="http://www.facebook.com/universityofportsmouth" class="btn link link--facebook">
            <span class="link-icon"></span>
            Facebook
          </a>
          <a href="https://vimeo.com/portsmouthuni" class="btn link link--vimeo">
            <span class="link-icon"></span>
            Vimeo
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
