//   Variables - Colors, Fonts, etc.
@import '../../source/variables';

$kss-colors-background: #fff;

$kss-colors-foreground: #444;
$kss-colors-heading: darken($brand-primary, 20%);
$kss-colors-quotes: #666;

$kss-colors-link: $brand-primary;
$kss-colors-link-hover: lighten($kss-colors-link, 20%);
$kss-colors-link-active: lighten($kss-colors-link, 30%);

$kss-font-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$kss-font-code: Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;

$kss-font-size: $font-size-base;
$kss-vertical-rhythm: $kss-font-size * 1.5;

// Wrap all of this builder's base HTML styling inside a .kss-style selector.

.kss-style {
  color: $kss-colors-foreground;
  font-family: $kss-font-body;
  font-size: $kss-font-size;
  line-height: $kss-vertical-rhythm;

  a {
    color: $kss-colors-link;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;

    &:hover,
    &:focus   { color: $kss-colors-link-hover;   }
    &:active  { color: $kss-colors-link-active;  }

    &:hover,
    &:active {
      outline: 0;
    }
  }

  @media print {
    a, a:visited { text-decoration: underline; }
    hr { height: 1px; border:0; border-bottom:1px solid black; }
    a[href]:after { content: " (" attr(href) ")"; }
    a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    pre, blockquote { border: 1px solid #999; padding-right: 1em; page-break-inside: avoid; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
  }
}

// Layout and page background

#kss-node {
  margin: 0;
  background: #fff;

  .kss-modifier-example {
    padding-bottom: 35px;
    @import "example";
  }

  #colours {
    .kss-source {
      display: none;
    }
  }

  .colors {
    display: table;
  }

  .color {
    width: 120px;
    height: 120px;
    display: table-cell;
    color: #fff;
    text-align: center;
    vertical-align: middle;

    &.primary {
      background-color: $brand-primary;
    }

    &.secondary {
      background-color: $brand-secondary;
    }

    &.success {
      background-color: $brand-success;
    }

    &.info {
      background-color: $brand-info;
    }

    &.warning {
      background-color: $brand-warning;
    }

    &.danger {
      background-color: $brand-danger;
    }
  }

  #brand {
    .kss-markup {
      display: none;
    }
  }

  .kss-header {
    overflow: hidden; // clearfix
    color: white;
    width: 80%;
    margin-left: 20%;

    background-color: $brand-primary;
  }

  .kss-header .logo,
  .kss-header .kss-doc-title {
    float: left;
    padding: 2em 0;
    line-height: 1em;
    font-size: 1em;
  }

  .kss-header .logo {
    width: 20%;
    padding: 3.75em 0;
  }

  .kss-sidebar .logo {
    background-color: darken($brand-primary, 5%);
    width: 100%;
    height: 120px;
  }

  .kss-header .kss-doc-title {
    display: inline-block;
    margin: 0;
    margin-left: 1em;

    color: inherit;
    font-weight: 500;

    @media screen and (min-width: 769px) {
      text-align: initial;
      font-size: 1.5em;
    }
  }

  @media screen and (min-width: 769px) {
    padding: 0;
    background: #fff;

    .kss-main,
    .kss-sidebar {
      float: left;
      margin-right: -100%;
      box-sizing: border-box;
    }
  }

  .kss-main {
    padding: 0 1em;

    @media screen and (min-width: 769px) {
      width: 80%;
      margin-left: 20%;
      padding: 0 20px 0 30px;
    }
  }

  .kss-sidebar {
    background: rgba(0,0,0,0.05);

    @media screen and (min-width: 769px) {
      position: fixed;
      top: 0;
      width: 20%;
      height: 100%;
      overflow: auto;
      border-bottom: 0;
    }
  }

  // Sidebar-area components

  .kss-nav__menu {
    margin: 0;
    margin-bottom: ($kss-vertical-rhythm);
    padding: 0;
    list-style-type: none;
  }

  .kss-nav__menu-item {
    display: inline-block;

    @media screen and (min-width: 769px) {
      display: list-item;
    }
  }

  .kss-nav__menu-link {
    position: relative;
    display: block;
    padding: .75em 1em;

    font-size: 1.25em;

    border-right: 1px solid rgba(0, 0, 0, .05);

    @media screen and (min-width: 769px) {
      border-right: none;
      border-bottom: 1px solid rgba(0, 0, 0, .05);
    }
  }

  .kss-nav__menu-child {
    display: none;

    @media screen and (min-width: 769px) {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0;

      box-shadow: inset .5em 0 0 rgba(0,0,0,0.1);
    }
  }

  .kss-nav__ref {
    color: #ABABAB;
    margin-right: .25em;

    &:after {
      content: ' ';
    }
  }

  .kss-nav__ref-child {
    font-weight: normal;
  }

  // ------------------------------------------------------------------------------
  // Content-area components
  // ------------------------------------------------------------------------------

  .kss-section {
    max-width: 48em;
    margin-bottom: ($kss-vertical-rhythm * 2);
  }

  .kss-title__permalink {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $kss-colors-link;

      @media screen and (min-width: 607px) {
        .kss-title__permalink-hash {
          display: inline;
        }
      }
    }
  }

  .kss-title__permalink-hash {
    display: none;
    color: #ccc;
  }

  .kss-parameters {
    display: table;
    list-style-type: none;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
  }
  .kss-parameters__title {
    font-weight: bold;
  }
  .kss-parameters__item {
    display: table-row;
  }
  .kss-parameters__name {
    display: table-cell;
    padding-right: 20px;
    white-space: nowrap;
  }
  .kss-parameters__description {
    display: table-cell;
  }
  .kss-parameters__default-value code {
    white-space: nowrap;
  }

  .kss-modifier__wrapper{
    border: 1px solid #e5e5e5;
    padding: 10px;
  }

  .kss-modifier__default-name {
    font-weight: bold;
    margin-bottom: ($kss-vertical-rhythm / 2);
  }
  .kss-modifier__name {
    float: left;
    padding-right: 10px;
    font-weight: bold;
  }
  .kss-modifier__description {
    margin-bottom: ($kss-vertical-rhythm / 2);
  }
  .kss-modifier__example {
    clear: left;
    padding: 1px 0; // Contain the example's margins.
    position: relative; // Contain the example's absolute positioning.
    margin: 0 0 ($kss-vertical-rhythm - 1px) 0;

    &:last-child {
      margin: 0;
    }
  }

  .kss-markup {
    background: #272822;
  }

  .kss-markup pre {
    margin: 0;
  }

  .kss-source {
    padding: .25em 10px;

    font-size: .75em;

    background: #e5e5e5;
  }

  .kss-source--main {
    padding: 0;

    font-size: 1em;

    background: none;
  }

  .kss-source a::before {
    content: '•';
    margin: 0 .5em;
    color: #C7C7C7;
  }

  .kss-source a {
    color: inherit;
    font-weight: bolder;
  }
}

@import 'prism.css';
