// Quick Links
//
// The quick links at the top of the page
//
// Markup: quick-links.html
//
// Styleguide: quick-links

.quick-links {
  padding: 1em .5em;
  margin-bottom: 1em;
  background: $brand-light;

  border-radius: $border-radius-base;

  h4 {
    padding-left: .5em;
    padding-bottom: .5em;
    font-weight: 600;
    line-height: 1.5;
    border-bottom: solid 1px darken($brand-light, 10%);
  }
}

.quick-links ul {
  margin: 0;
}

.quick-link {
  margin-bottom: .25em;
  list-style: none;
  line-height: 1.5em;

  font-weight: 500;
  font-size: 1.15em;

  &:hover {
    text-decoration: underline;
  }
}
