<div class="quick-links row">
    <h4>Popular Topics</h4>
    <ul class="col-sm-6">
        <li class="quick-link"><a href="http://www.port.ac.uk/library/">Library</a></li>
        <li class="quick-link"><a href="http://www.referencing.port.ac.uk/">Referencing</a></li>
        <li class="quick-link"><a href="http://ithelp.port.ac.uk/questions/194/Wireless+connection+guide">Connect to Uni WiFi</a></li>
    </ul>
    <ul class="col-sm-6">
        <li class="quick-link"><a href="http://www.port.ac.uk/graduation/">Graduation</a></li>
        <li class="quick-link"><a href="http://www.port.ac.uk/departments/services/printingservices/">Printing services</a></li>
        <li class="quick-link"><a href="http://www.port.ac.uk/careersandrecruitment/">Looking for a job?</a></li>
    </ul>
</div>