// Type
//
// Typography is one of the important parts of this styleguide,
// due to a lot of the content being written content.
//
// Styleguide: type

// Headings
//
// For showing the topic of different sections
//
// Markup: type-headings.html
//
// Styleguide: type.headings

@import "bootstrap/type";

h1,
h2,
.h1,
.h2 {
  font-weight: 600;
  color: darken($brand-primary, 20%);
  line-height: 1.5;
}

h3,
.h3 {
  font-weight: 600;
  line-height: 1.5;
  color: lighten($grey, 15%);
}

h4,
.h4 {
  line-height: 1.5;
  color: lighten($grey, 15%);
}

// Copy
//
// This is the main body content
//
// Markup: type-paragraphs.html
//
// Styleguide: type.paragraphs

p {
  line-height: 1.5;
  color: lighten($grey, 10%);
}

// Page Heading
//
// This is the page heading
//
// Markup: type-page-heading.html
//
// Styleguide: type.page-heading

.page-header {
  small {
    display: block;
    line-height: 1.3;
  }
}