// Search Links
//
// The links under the search bar
//
// Markup: search-links.html
//
// Styleguide: search-links

.search-links {
  margin-top: 1em;
}

.search-link {
  list-style: none;
  display: inline-block;
  margin-right: .9em;

  font-weight: 500;
  font-size: 1em;

  &:hover {
    text-decoration: underline;
  }

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .search-link {
    display: block;
    line-height: 2;
  }
}
