// Icons
//
// This is the icons used on the MyPort homepage.
//
// Markup: icons.html
//
// Styleguide: icons

.icons {
  margin-bottom: 30px;
}

.icon {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;

  color: $black;
  text-decoration: none;

  border-radius: $border-radius-base;
}

.icon:hover {
  text-decoration: none;
}

.icon-text {
  display: block;
  margin: .5em 0;
  overflow: hidden;

  text-align: center;
  font-weight: 600;
  font-size: $font-size-h6;

  white-space: nowrap;
  text-overflow: ellipsis;

  @media (min-width: $screen-sm-min) {
    font-size: $font-size-h5;
  }
}

.icon-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
  height: 64px;

  background: no-repeat center $brand-primary;
  background-size: 50% auto;
  border-radius: 50%;

  transition: background-color .1s;

  @media (min-width: $screen-xs-min) {
    width: 80px;
    height: 80px;
  }

  @media (min-width: $screen-sm-min) {
    width: 120px;
    height: 120px;
  }
}

.icon:hover .icon-image {
  background-color: $brand-secondary;
}

.icon--money .icon-image {
  background-image: url("/images/icons/piggy-bank.svg");
}

.icon--university-admin .icon-image {
  background-image: url("/images/icons/stack.svg");
}

.icon--international .icon-image {
  background-image: url("/images/icons/earth.svg");
}

.icon--library .icon-image {
  background-image: url("/images/icons/books.svg");
}

.icon--it-printing .icon-image {
  background-image: url("/images/icons/display.svg");
}

.icon--learning-resources .icon-image {
  background-image: url("/images/icons/files-empty.svg");
}

.icon--health-wellbeing .icon-image {
  background-image: url("/images/icons/aid-kit2.svg");
}

.icon--living-in-portsmouth .icon-image {
  background-image: url("/images/icons/home4.svg");
}

.icon--careers-employability .icon-image {
  background-image: url("/images/icons/briefcase.svg");
}

.icon--sports-recreation .icon-image {
  background-image: url("/images/icons/soccer.svg");
}

.icon--union .icon-image {
  background-image: url("/images/icons/union.png");
}

.icon--getting-around .icon-image {
  background-image: url("/images/icons/bike.svg");
}
