<div class="icons">
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <a href="#" class="icon icon--union">
                <span class="icon-image"></span>
                <span class="icon-text">Money</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="#" class="icon icon--university-admin">
                <span class="icon-image"></span>
                <span class="icon-text">University Administration</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="#" class="icon icon--international">
                <span class="icon-image"></span>
                <span class="icon-text">International</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <a href="#" class="icon icon--library">
                <span class="icon-image"></span>
                <span class="icon-text">Library</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="#" class="icon icon--it-printing">
                <span class="icon-image"></span>
                <span class="icon-text">IT &amp; Printing</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="#" class="icon icon--learning-resources">
                <span class="icon-image"></span>
                <span class="icon-text">Learning Resources</span>
            </a>
        </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <a href="#" class="icon icon--health-wellbeing">
                <span class="icon-image"></span>
                <span class="icon-text">Health &amp; Wellbeing</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
            <a href="#" class="icon icon--living-in-portxsouth">
                <span class="icon-image"></span>
                <span class="icon-text">Living in Portxsouth</span>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4">
          <a href="#" class="icon icon--careers-employability">
            <span class="icon-image"></span>
            <span class="icon-text">Careers &amp; Employability</span>
          </a>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <a href="#" class="icon icon--sports-recreation">
          <span class="icon-image"></span>
          <span class="icon-text">Sport &amp; Recreation</span>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4">
        <a href="#" class="icon icon--union">
          <span class="icon-image"></span>
          <span class="icon-text">The Student Union</span>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4">
        <a href="#" class="icon icon--getting-around">
          <span class="icon-image"></span>
          <span class="icon-text">Getting Around</span>
        </a>
      </div>
    </div>
</div>
