<div class="icons">
    <div class="row">
        <div class="col-sm-4">
            <a href="#" class="icon">
                <span class="icon-image"></span>
                <h6>Money</h6>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="icon">
                <span class="icon-image"></span>
                <h6>University Administration</h6>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="icon">
                <span class="icon-image"></span>
                <h6>International</h6>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="#" class="icon">
                <span class="icon-image"></span>
                <h6>Library</h6>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="icon">
                <span class="icon-image"></span>
                <h6>IT &amp; Printing</h6>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="icon">
                <span class="icon-image"></span>
                <h6>Learning Resources</h6>
            </a>
        </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="#" class="icon">
                <span class="icon-image"></span>
                <h6>Health &amp; Wellbeing</h6>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="#" class="icon">
                <span class="icon-image"></span>
                <h6>Living in Portsmouth</h6>
            </a>
        </div>
    </div>
</div>