// variables

$black: #333333;
$white: #ffffff;
$grey: #111111;
$gray: $grey; // alternate spelling
$red: #ff0000;
$green: #00ff00;

$uop-purple: #422183; // used across uni services

$brand-primary: $uop-purple;
// $brand-secondary: #;
// $brand-success: #;
// $brand-info: #;
// $brand-warning: #;
// $brand-danger: #;

$font-size-base: 18px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$border-radius-base: 0;

@import "bootstrap/variables";
