// variables

@import "bootstrap/variables";

$black: #333333;
$white: #ffffff;
$grey: #111111;
$gray: $grey; // alternate spelling
$red: #ff0000;
$green: #00ff00;

$uop-purple: #470a68; // from the branding document

$brand-primary: $uop-purple;
// $brand-secondary: #;
// $brand-success: #;
// $brand-info: #;
// $brand-warning: #;
// $brand-danger: #;
