// Panel
//
// When it is necessary to put content into a box
//
// Styleguide: panel

@import "bootstrap/panels";

// Basic Panel
//
// A standard panel with a title
//
// Markup: panels-basic.html
//
// .panel-primary - Panel Primary
// .panel-secondary - Panel Secondary
// .panel-success - Panel Success
// .panel-info - Panel Info
// .panel-warning - Panel Warning
// .panel-danger - Panel Danger
//
// Styleguide: panel.basic

.panel {
  .panel-title {
    font-size: 19px;
  }

  &.panel-secondary {
    border: solid 1px darken($brand-light, 10%);

    .panel-heading {
      background-color: $brand-light;
      border-bottom: solid 1px darken($brand-light, 10%);

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
 }
}

// News Panel
//
// A news panel
//
// Markup: panels-news.html
//
//
// Styleguide: panel.news

@import "bootstrap/media";

.panel-secondary {
  .media {
    border-bottom: solid darken($brand-light, 10%) 1px;
  }
}

.media {
  text-decoration: none;
  display: block;
  margin-top: 15px;
  border-bottom: solid $panel-primary-border 1px;
  padding-bottom: 15px;

  &:hover {
    h4 {
      text-decoration: underline;
    }
  }

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }

  .media-left {
    width: 35%;

    img {
      width: 100%;
      border-radius: $border-radius-base;
    }
  }

  .media-heading {
    font-size: 1em;
    line-height: 1.25em;
  }

  .media-date {
    font-style: italic;
    margin-bottom: 0;
    font-size: .85em;
    color: lighten($black, 20%);
  }
}

// Events Panel
//
// An events panel
//
// Markup: panel-events.html
//
//
// Styleguide: panel.events

.media .media-location {
  margin-top: 10px;
  font-size: .85em;
}
