<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Events</h3>
    </div>
    <div class="panel-body">
        <a href="#" class="media">
            <div class="media-body">
                <h4 class="media-heading">Business School Postgraduate Open Evening</h4>
                <p class="media-date">22 June 2016 - 17:00 until 19:00</p>
                <p class="media-location">Richmond Building, Portsmouth</p>
            </div>
        </a>
    </div>
</div>